<h1>Welcome to the Lobby</h1>

<div id="room-list">
  <h2>Available Rooms</h2>
  <ul>
    <% rooms.forEach(room => { %>
    <li>
      <a href="/rooms/<%= room._id %>"><%= room.name %></a>
      (Capacity: <%= room.maxUsers - room.users.length %> / <%= room.maxUsers
      %>)
    </li>
    <% }); %>
  </ul>
</div>

<form action="/rooms/create" method="POST">
  <label for="roomName">Create a New Room:</label>
  <input type="text" id="roomName" name="name" required />
  <button type="submit">Create</button>
</form>
